#content_wrap{
	background-color:#F2EEE5;
}

#content1{
	width:1024px;
	margin:0 auto;
	background-color:#ffffff;
	line-height:0;
}


#content2{
	width:1024px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom:5px;
}

#content2 > #c_section{
	width:840px;
	float:right;
	background-color:#ffffff;
	padding:5px;
	border:1px solid gray;
	background-image:url('globe.png');
	background-repeat:no-repeat;
	background-position:bottom right;	
	

}

#c_section > article.c_article{
	display:inline;
	float:left;
	margin-bottom:10px;
	padding:5px;
}

#c_article1{
	width:500px;
	color:#868686;
	font-family:�������,����, ����, arial;
 	font-size: 15px;
}

#c_article2{
	width:250px;
}

#content2 > #c_aside{
	width:160px;	
	line-height:2;
	
}

#c_aside  a{
	border:1px;
	text-decoration:none;
	color:#000;
	font-family:'돋움',dotum,sans-serif;
}

#c_aside a li:hover{
	text-decoration:none;
	color:#fff;
	background-color:red;
	font-family:'돋움',dotum,sans-serif;
}
